<a href="https://colab.research.google.com/github/ashesm/ISYS5002_PORTFOLIO/blob/main/ISYS5002_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas_datareader import data as pdr

In [ ]:
tickers = ['KEY']

# Exploring the assignment

[Yahoo Finance] (https://au.finance.yahoo.com/)

## Inputs
Prompt for a ticker symbol
* Find out what is a ticker symbol?

## Processing

* Get income from webpage. which page
* Calculate tax (using income)

## Outputs
* Save to CSV file (How Use CSV or Pandas?)
* Save to SQLte( See week on database)

In [ ]:
!pip install yfinance
import yfinance as yfin
yfin.pdr_override()

In [ ]:
df = pdr.get_data_yahoo(tickers)

[*********************100%***********************]  1 of 1 completed

In [ ]:
df.index, df.columns

(DatetimeIndex(['1987-11-05', '1987-11-06', '1987-11-09', '1987-11-10',
                '1987-11-11', '1987-11-12', '1987-11-13', '1987-11-16',
                '1987-11-17', '1987-11-18',
                ...
                '2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
                '2021-10-01', '2021-10-04', '2021-10-05', '2021-10-06',
                '2021-10-07', '2021-10-08'],
               dtype='datetime64[ns]', name='Date', length=8550, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object'))

In [ ]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [ ]:
df.head()

                Open      High       Low     Close  Adj Close  Volume
Date
1987-11-05  6.154910  6.189488  6.085754  6.120332   1.813720   55310
1987-11-06  6.154910  6.224066  6.120332  6.120332   1.813720  212201
1987-11-09  6.085754  6.154910  5.947441  5.947441   1.762484  107727
1987-11-10  6.016598  6.154910  5.947441  6.120332   1.813720   61816
1987-11-11  6.016598  6.189488  6.016598  6.120332   1.813720   65793

In [ ]:
!pip install kora -q
from bs4 import BeautifulSoup
from kora.selenium import wd

In [ ]:
URL = 'https://au.finance.yahoo.com/quote/KEY/profile?p=KEY'
wd.get(URL)

In [ ]:
soup = BeautifulSoup(wd.page_source, 'html.parser')

tables = soup.find_all('table')
len(tables)

1

In [ ]:
tbody = tables[0].find('tbody')

In [ ]:
tbody.find_all('tr')

[<tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="48"><td class="Ta(start)" data-reactid="49"><span class="" data-reactid="50"><!-- react-text: 51 -->Mr. Christopher Marrott Gorman<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="52"><span class="" data-reactid="53"><!-- react-text: 54 -->Chairman, Pres &amp; CEO<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="55"><span class="" data-reactid="56"><!-- react-text: 57 -->2.67M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="58"><span class="" data-reactid="59"><!-- react-text: 60 -->84.8k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="61"><span class="" data-reactid="62"><!-- react-text: 63 -->1961<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="64"><td class="Ta(start)" data-reactid="65"><span class="" data-reactid="66"><!-- react-text: 67 -->Mr. Donald R. Kimble Jr.<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="68"><span class="" data-reactid="69"><!-- react-text: 70 -->CFO &amp; Chief Admin. Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="71"><span class="" data-reactid="72"><!-- react-text: 73 -->2.72M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="74"><span class="" data-reactid="75"><span data-reactid="76">N/A</span></span></td><td class="Ta(end)" data-reactid="77"><span class="" data-reactid="78"><!-- react-text: 79 -->1960<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="80"><td class="Ta(start)" data-reactid="81"><span class="" data-reactid="82"><!-- react-text: 83 -->Ms. Amy G. Brady<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="84"><span class="" data-reactid="85"><!-- react-text: 86 -->Chief Information Officer &amp; Exec. VP<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="87"><span class="" data-reactid="88"><!-- react-text: 89 -->1.8M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="90"><span class="" data-reactid="91"><span data-reactid="92">N/A</span></span></td><td class="Ta(end)" data-reactid="93"><span class="" data-reactid="94"><!-- react-text: 95 -->1967<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="96"><td class="Ta(start)" data-reactid="97"><span class="" data-reactid="98"><!-- react-text: 99 -->Mr. Andrew Jackson Paine III<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="100"><span class="" data-reactid="101"><!-- react-text: 102 -->Exec. VP &amp; Pres of Key Institutional Bank<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="103"><span class="" data-reactid="104"><!-- react-text: 105 -->2.07M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="106"><span class="" data-reactid="107"><span data-reactid="108">N/A</span></span></td><td class="Ta(end)" data-reactid="109"><span class="" data-reactid="110"><!-- react-text: 111 -->1970<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="112"><td class="Ta(start)" data-reactid="113"><span class="" data-reactid="114"><!-- react-text: 115 -->Ms. Angela G. Mago<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="116"><span class="" data-reactid="117"><!-- react-text: 118 -->Head of Commercial Bank<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="119"><span class="" data-reactid="120"><!-- react-text: 121 -->1.77M<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="122"><span class="" data-reactid="123"><!-- react-text: 124 -->14.73k<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="125"><span class="" data-reactid="126"><!-- react-text: 127 -->1966<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="128"><td class="Ta(start)" data-reactid="129"><span class="" data-reactid="130"><!-- react-text: 131 -->Mr. Douglas M. Schosser CPA<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="132"><span class="" data-reactid="133"><!-- react-text: 134 -->Chief Accounting Officer &amp; Exec. Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="135"><span class="" data-reactid="136"><span data-reactid="137">N/A</span></span></td><td class="Ta(end)" data-reactid="138"><span class="" data-reactid="139"><span data-reactid="140">N/A</span></span></td><td class="Ta(end)" data-reactid="141"><span class="" data-reactid="142"><!-- react-text: 143 -->1970<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="144"><td class="Ta(start)" data-reactid="145"><span class="" data-reactid="146"><!-- react-text: 147 -->Mr. Vernon L. Patterson<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="148"><span class="" data-reactid="149"><!-- react-text: 150 -->Exec. VP of Investor Relations<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="151"><span class="" data-reactid="152"><span data-reactid="153">N/A</span></span></td><td class="Ta(end)" data-reactid="154"><span class="" data-reactid="155"><span data-reactid="156">N/A</span></span></td><td class="Ta(end)" data-reactid="157"><span class="" data-reactid="158"><span data-reactid="159">N/A</span></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="160"><td class="Ta(start)" data-reactid="161"><span class="" data-reactid="162"><!-- react-text: 163 -->Mr. James L. Waters J.D.<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="164"><span class="" data-reactid="165"><!-- react-text: 166 -->Gen. Counsel &amp; Corp. Sec.<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="167"><span class="" data-reactid="168"><span data-reactid="169">N/A</span></span></td><td class="Ta(end)" data-reactid="170"><span class="" data-reactid="171"><span data-reactid="172">N/A</span></span></td><td class="Ta(end)" data-reactid="173"><span class="" data-reactid="174"><!-- react-text: 175 -->1967<!-- /react-text --></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="176"><td class="Ta(start)" data-reactid="177"><span class="" data-reactid="178"><!-- react-text: 179 -->Ms. Susan E. Donlan<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="180"><span class="" data-reactid="181"><!-- react-text: 182 -->Chief Communications Officer<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="183"><span class="" data-reactid="184"><span data-reactid="185">N/A</span></span></td><td class="Ta(end)" data-reactid="186"><span class="" data-reactid="187"><span data-reactid="188">N/A</span></span></td><td class="Ta(end)" data-reactid="189"><span class="" data-reactid="190"><span data-reactid="191">N/A</span></span></td></tr>,
 <tr class="C($primaryColor) BdB Bdc($seperatorColor) H(36px)" data-reactid="192"><td class="Ta(start)" data-reactid="193"><span class="" data-reactid="194"><!-- react-text: 195 -->Mr. Brian L. Fishel<!-- /react-text --></span></td><td class="Ta(start) W(45%)" data-reactid="196"><span class="" data-reactid="197"><!-- react-text: 198 -->Chief Human Resource Officer &amp; Exec. VP<!-- /react-text --></span></td><td class="Ta(end)" data-reactid="199"><span class="" data-reactid="200"><span data-reactid="201">N/A</span></span></td><td class="Ta(end)" data-reactid="202"><span class="" data-reactid="203"><span data-reactid="204">N/A</span></span></td><td class="Ta(end)" data-reactid="205"><span class="" data-reactid="206"><!-- react-text: 207 -->1966<!-- /react-text --></span></td></tr>]

In [ ]:
tbody.find_all('tr')[0].text

'Mr. Christopher Marrott GormanChairman, Pres & CEO2.67M84.8k1961'

In [ ]:
rows = tbody.find_all('tr')

In [ ]:
columns = rows[0].find_all('td')

In [ ]:
columns[0].text

'Mr. Christopher Marrott Gorman'

In [ ]:
tables = soup.find_all('table')
for table in tables:
  body = table.find('tbody')
  rows = body.find_all("tr")
  for row in rows:
    data = row.find_all('td')
    for txt in data:
      print(txt.text)
    print()

Mr. Christopher Marrott Gorman
Chairman, Pres & CEO
2.67M
84.8k
1961

Mr. Donald R. Kimble Jr.
CFO & Chief Admin. Officer
2.72M
N/A
1960

Ms. Amy G. Brady
Chief Information Officer & Exec. VP
1.8M
N/A
1967

Mr. Andrew Jackson Paine III
Exec. VP & Pres of Key Institutional Bank
2.07M
N/A
1970

Ms. Angela G. Mago
Head of Commercial Bank
1.77M
14.73k
1966

Mr. Douglas M. Schosser CPA
Chief Accounting Officer & Exec. Officer
N/A
N/A
1970

Mr. Vernon L. Patterson
Exec. VP of Investor Relations
N/A
N/A
N/A

Mr. James L. Waters J.D.
Gen. Counsel & Corp. Sec.
N/A
N/A
1967

Ms. Susan E. Donlan
Chief Communications Officer
N/A
N/A
N/A

Mr. Brian L. Fishel
Chief Human Resource Officer & Exec. VP
N/A
N/A
1966

In [ ]:
# panda way whuch we shouldnt use this way 
tables_as_df = pd.read_html(wd.page_source)
len(tables_as_df)

1

In [ ]:
tables_as_df[0]

                             Name  ... Year born
0  Mr. Christopher Marrott Gorman  ...    1961.0
1        Mr. Donald R. Kimble Jr.  ...    1960.0
2                Ms. Amy G. Brady  ...    1967.0
3    Mr. Andrew Jackson Paine III  ...    1970.0
4              Ms. Angela G. Mago  ...    1966.0
5     Mr. Douglas M. Schosser CPA  ...    1970.0
6         Mr. Vernon L. Patterson  ...       NaN
7        Mr. James L. Waters J.D.  ...    1967.0
8             Ms. Susan E. Donlan  ...       NaN
9             Mr. Brian L. Fishel  ...    1966.0

[10 rows x 5 columns]



[Resident tax rates 2021–22
Taxable income](https://www.ato.gov.au/rates/individual-income-tax-rates/)

Income            | Tax on this income 
------------------|----------------------
0 – \$18,200       | Nil
\$18,201 – \$45,000 | 19 cents for each \$1 over \$18,200
\$45,001 – \$120,000 | \$5,092 plus 32.5 cents for each \$1 over \$45,000
\$120,001 – \$180,000 |  \$29,467 plus 37 cents for each \$1 over \$120,000
\$180,001 and over | \$51,667 plus 45 cents for each \$1 over \$180,000

In [ ]:
def get_income():
  while True:
        try:
            income = int(input("Please enter your taxable income: "))
        except ValueError:
            print("Sorry, I didn't understand that please enter taxable income as a number")
            continue
        else:
            break

  return income

In [ ]:
def calculate_tax(income):
  if income <= 18200:
   tax_payable = 0
  elif 18200 < income <= 45000:
   tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
   tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income < 180000:
    tax_payable = 29467 +37 * (income - 120000)
  elif  income >= 180000:
    tax_payable = 51667 +45 * (income - 180000)

  return tax_payable

In [ ]:
income = get_income()
tax = calculate_tax(income)
print("Your tax payable is ", tax)

Please enter your taxable income: 3677777777
Your tax payable is  165491951632

In [ ]:
import csv

In [ ]:
pip install requests_html

Collecting requests_html
  Downloading requests_html-0.10.0-py3-none-any.whl (13 kB)
Collecting parse
  Downloading parse-1.19.0.tar.gz (30 kB)
Requirement already satisfied: bs4 in /usr/local/lib/python3.7/dist-packages (from requests_html) (0.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from requests_html) (2.23.0)
Collecting w3lib
  Downloading w3lib-1.22.0-py2.py3-none-any.whl (20 kB)
Collecting pyppeteer>=0.0.14
  Downloading pyppeteer-0.2.6-py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 2.1 MB/s
Collecting pyquery
  Downloading pyquery-1.4.3-py3-none-any.whl (22 kB)
Collecting fake-useragent
  Downloading fake-useragent-0.1.11.tar.gz (13 kB)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.62.3)
Collecting websockets<10.0,>=9.1
  Downloading websockets-9.1-cp37-cp37m-manylinux2010_x86_64.whl (103 kB)
     |████████████████████████████████| 103 kB 57.3 MB/s
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (4.8.1)
Collecting pyee<9.0.0,>=8.1.0
  Downloading pyee-8.2.2-py2.py3-none-any.whl (12 kB)
Collecting urllib3<2.0.0,>=1.25.8
  Downloading urllib3-1.26.7-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 57.4 MB/s
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /usr/local/lib/python3.7/dist-packages (from pyppeteer>=0.0.14->requests_html) (1.4.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests_html) (3.7.4.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bs4->requests_html) (4.6.3)
Requirement already satisfied: lxml>=2.1 in /usr/local/lib/python3.7/dist-packages (from pyquery->requests_html) (4.6.3)
Collecting cssselect>0.7.9
  Downloading cssselect-1.1.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->requests_html) (3.0.4)
Collecting urllib3<2.0.0,>=1.25.8
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 54.0 MB/s
Requirement already satisfied: six>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from w3lib->requests_html) (1.15.0)
Building wheels for collected packages: fake-useragent, parse
  Building wheel for fake-useragent (setup.py) ... done
  Created wheel for fake-useragent: filename=fake_useragent-0.1.11-py3-none-any.whl size=13502 sha256=70158748136583b15f30ee746049aa9246572e27438185b74f59f257efaafb91
  Stored in directory: /root/.cache/pip/wheels/ed/f7/62/50ab6c9a0b5567267ab76a9daa9d06315704209b2c5d032031
  Building wheel for parse (setup.py) ... done
  Created wheel for parse: filename=parse-1.19.0-py3-none-any.whl size=24591 sha256=745e0ddc36106d90de66f772b5f9f49f4eb1cb5ea5683ebaa5d7cff9a8890a41
  Stored in directory: /root/.cache/pip/wheels/9c/aa/cc/f2228050ccb40f22144b073f15a2c84f11204f29fc0dce028e
Successfully built fake-useragent parse
Installing collected packages: websockets, urllib3, pyee, cssselect, w3lib, pyquery, pyppeteer, parse, fake-useragent, requests-html
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cssselect-1.1.0 fake-useragent-0.1.11 parse-1.19.0 pyee-8.2.2 pyppeteer-0.2.6 pyquery-1.4.3 requests-html-0.10.0 urllib3-1.25.11 w3lib-1.22.0 websockets-9.1